.menu{
    color: black;
    height: 75px;
    z-index: 1000;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}
.menu_logo{
    width: 200px;
    height: 75px;
    padding: 10px;
}
.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu_item{
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
    font-size: 20px;
}
.menu_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    --transform: rotate(0);
}

.menu_link{
    color: rgb(0, 0, 0);
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}
.menu_link:hover{
    color: #ffffff;
    transition: .3s;
}
.menu_link--mdf{
    color: rgb(255, 255, 255);
}
.menu_link--mdf:hover{
    color: rgb(0, 0, 0);
}


.menu_link--inicio{
    color: #000000;
}
.menu_arrow{
    transform: var(--transform);
    transition: .3s;
    display: block;
    margin-left: 3px;
}
.menu_nesting{
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #9bb6ec;
}
.menu_link--inside{
    padding: 25px 100px 25px 20px;
    align-items: center;
}
.menu_link--inside:hover{
    background-color:#4a5b7c ;
}
.hamburguesa{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}
.menu_img{
    display: block;
    width: 36px;
}

@media(max-width:800px){
    .hamburguesa{
        display: flex;
    }
    .menu_item{
        --clip:0;
        overflow: hidden;
    }
    .menu_item--active{
        --transform: rotate(0) ;
        --background: #4a5b7c;
    }
    .menu_item--show{
        background-color: var(--background);
    }
    .menu_links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: black;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
    .menu_item--show{
        transform: unset;
        width: 100%;
    }
    .menu_link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
    .menu_arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    .menu_nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
    .menu_link--inside{
        width: 90%;
        margin-left: auto;
        border-left: #4a5b7c;
    }
}